<h3>List of Students </h3>
<p>&nbsp;</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student Id<br>and Academic<br>Program</th>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Email</th>
      <th>Academic<br>Level</th>
      <th>GPA</th>
      <th>Course History</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let u of users'>
      <td>{{ u.studentId }}  {{u.academicProgram }}</td>
      <td>{{ u.givenName }} {{ u.familyName }}</td>
      <td>{{u.birthDate}}</td>
      <td>{{u.email}}</td>
      <td>{{u.academicLevel}}</td>
      <td>{{u.gpa}}</td>
      <td>{{u.credits.length}} credits</td>
      <td>
       
        <a routerLink="/students/detail/{{ u._id }}" class="btn btn-default">select</a>&nbsp;
        
      </td>
    </tr>
  </tbody>
</table>


