<h3>All Courses</h3>
<p>&nbsp;</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Course Id</th>
      <th>Code</th>
      <th>Section and Instance Id</th>
      <th>Enrol Total</th>
     <th>Professor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let course of allCourses'>
      
      <td>{{ course.courseId  }}</td>
      <td>{{ course.courseCode  }}</td>
      <td>{{ course.section  }} {{ course.termSectionId  }}</td>
      <td>{{ course.enrolTotal  }}</td>
      <td>{{ course.professor  }}</td>
      
    </tr>
  </tbody>
</table>
