
<div class="container">
    <h3 >Student detail - {{ currStudent.givenName }} {{ currStudent.familyName }}, {{ currStudent.studentId }}  &nbsp;<a  class="btn btn-default" routerLink="/students" >Back to list</a></h3>
        <p >&nbsp;</p>
        <!---->
        <div  class="row">
            <div  class="col-md-8 col-sm-12">
                <dl  class="dl-horizontal"><dt >Student ID</dt>
                    <dd >{{ currStudent.studentId }} </dd><dt >Name</dt>
                    <dd >{{ currStudent.familyName }}, {{ currStudent.givenName }}</dd><dt >Academic program</dt>
                    <dd >{{currStudent.academicProgram }}, level {{currStudent.academicLevel}}</dd><dt >Grade point average</dt>
                    <dd >{{currStudent.gpa}} </dd>
                    <hr ><dt >Tentative courses</dt>
                    <dd >
                        <table  class="table table-striped table-condensed">
                            <thead >
                                <tr >
                                    <th >Term</th>
                                    <th >Course</th>
                                    <th >Day and time</th>
                                </tr>
                            </thead>
                            <tbody >
                                <!---->
                                <tr *ngFor='let course of currStudent.coursesSaved'>
                                    <td >{{course.term}}</td>
                                    <td >{{ course.courseCode  }} - {{ course.section  }}</td>
                                    <td > <!----><span *ngIf='course.classMon =="Y"'> Monday</span>
                                          <!----><span *ngIf='course.classTue =="Y"'>Tuesday</span>
                                          <!----><span *ngIf='course.classWed =="Y"'>Wednesday</span>
                                          <!----><span *ngIf='course.classThu =="Y"'>Thursday</span>
                                          <!----><span *ngIf='course.classFri =="Y"'>Friday</span><br/>
                                          <!----><span>{{ course.classStart  }} to {{ course.classEnd  }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                    <hr ><dt >Confirmed courses</dt>
                    <dd >
                        <table  class="table table-striped table-condensed">
                            <thead >
                                <tr >
                                    <th >Term</th>
                                    <th >Course</th>
                                    <th >Day and time</th>
                                </tr>
                            </thead>
                            <tbody >
                                 <tr *ngFor='let course of currStudent.coursesConfirmed'>
                                    <td >{{course.term}}</td>
                                    <td >{{ course.courseCode  }} - {{ course.section  }}</td>
                                    <td > <!----><span *ngIf='course.classMon =="Y"'> Monday</span>
                                          <!----><span *ngIf='course.classTue =="Y"'>Tuesday</span>
                                          <!----><span *ngIf='course.classWed =="Y"'>Wednesday</span>
                                          <!----><span *ngIf='course.classThu =="Y"'>Thursday</span>
                                          <!----><span *ngIf='course.classFri =="Y"'>Friday</span><br/>
                                          <!----><span>{{ course.classStart  }} to {{ course.classEnd  }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                    <hr ><dt >Course history<br >(13 credits)</dt>
                    <dd >
                        <table  class="table table-striped table-condensed">
                            <thead >
                                <tr >
                                    <th >Term</th>
                                    <th >Grade</th>
                                    <th >Course</th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody >
                                <!---->
                                <tr *ngFor='let credit of currStudent.credits'>
                                    <td >{{credit.termCompleted}}</td>
                                    <td >{{credit.courseName}}</td>
                                    <td >{{credit.courseCode}}</td>
                                    <td >{{credit.courseName}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
            <div  class="col-md-4 col-sm-12">
                <p >Select courses for next term</p><a  class="btn btn-primary" routerLink="/cart" >Select courses</a>&nbsp;
            </div>
        </div>
        <!---->
        <div >
            <hr ><a  class="btn btn-default" routerLink="/students" >Back to list</a></div>
        <!---->
 
</div>
